.section9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section9 h2 {
    font-size: 48px;
    font-weight: 700;
}

.section9_faqs{
    margin-bottom: 5%;
}