.section8 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    background-color: #E8E4FC;
    background-image: linear-gradient(to right, #E8E4FC , #F5DECF);
    padding-bottom: 2rem;
    margin-top: 4%;
    margin-bottom: 6%;
}

.section8_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem;
    padding-left: 8rem ;
    padding-right: 0rem;
}

.section8_content h2 {
    font-size: 41px;
    font-weight: 700;
}
.section8_content p {
    font-size: 19px;
    font-weight: 400;
    margin-top: 5%;
}

.section8_content_inner {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.section8_content_inner_details {
    display: flex;
    flex-direction: column;
    line-height: 0;
    justify-content: center;
    align-items: flex-start;
}

.section8_content_inner_details h3 {
    font-weight: 700;
    font-size: 19px;
}

.section8_content_inner_details p {
    font-weight: 400;
    font-size: 16px;
}
.section8_images {
    display: flex;
    justify-content: flex-start;
    margin: -5rem 0;
    padding-right: 8%;
    gap: 10px;
}
.section8_images_col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.section8_images_col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-bottom: 4rem;
}
