.brands-waiting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brands-waiting h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 20px 0;
}
.brand-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6%;
    margin: 20px 0;
    margin-bottom: 10vh;
}