.collaboration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collaboration h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 0.4em;
    text-align: center;
    margin-bottom: 0;
}
.collaboration_p {
    font-size: 28px;
    margin: 0.4em;
    margin-top: 0;
    font-weight: 400;
}

.collaboration button {
    font-size: 20px;
    font-style: Medium;
    background-color: transparent;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    font-weight: 500;
}
.steps {
    display: flex;
    gap: 4%;
    margin: 2% 0;
}

